parameters:
	ignoreErrors:
		-
			message: '#^Unused Rector\\SwissKnife\\Command\\CheckCommentedCodeCommand\:\:run$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: src/Command/CheckCommentedCodeCommand.php

		-
			message: '#^Unused Rector\\SwissKnife\\Command\\CheckConflictsCommand\:\:run$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: src/Command/CheckConflictsCommand.php

		-
			message: '#^Unused Rector\\SwissKnife\\Command\\DuplicatedCodeCommand\:\:run$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: src/Command/DuplicatedCodeCommand.php

		-
			message: '#^Unused Rector\\SwissKnife\\Command\\FeaturesCommand\:\:run$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: src/Command/FeaturesCommand.php

		-
			message: '#^Unused Rector\\SwissKnife\\Command\\FinalizeClassesCommand\:\:run$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: src/Command/FinalizeClassesCommand.php

		-
			message: '#^Unused Rector\\SwissKnife\\Command\\FindMultiClassesCommand\:\:run$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: src/Command/FindMultiClassesCommand.php

		-
			message: '#^Unused Rector\\SwissKnife\\Command\\GenerateSymfonySmokeTestsCommand\:\:run$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: src/Command/GenerateSymfonySmokeTestsCommand.php

		-
			message: '#^Unused Rector\\SwissKnife\\Command\\MeasureCommand\:\:run$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: src/Command/MeasureCommand.php

		-
			message: '#^Unused Rector\\SwissKnife\\Command\\NamespaceToPSR4Command\:\:run$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: src/Command/NamespaceToPSR4Command.php

		-
			message: '#^Unused Rector\\SwissKnife\\Command\\PrivatizeConstantsCommand\:\:run$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: src/Command/PrivatizeConstantsCommand.php

		-
			message: '#^Unused Rector\\SwissKnife\\Command\\SplitSymfonyConfigToPerPackageCommand\:\:run$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: src/Command/SplitSymfonyConfigToPerPackageCommand.php

		-
			message: '#^Unused Rector\\SwissKnife\\Jack\\Command\\BreakPointCommand\:\:run$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: src/Jack/Command/BreakPointCommand.php

		-
			message: '#^Unused Rector\\SwissKnife\\Jack\\Command\\OpenVersionsCommand\:\:run$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: src/Jack/Command/OpenVersionsCommand.php

		-
			message: '#^Unused Rector\\SwissKnife\\Jack\\Command\\RaiseToInstalledCommand\:\:run$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: src/Jack/Command/RaiseToInstalledCommand.php

		-
			message: '#^Unused Rector\\SwissKnife\\Testing\\Command\\DetectUnitTestsCommand\:\:run$#'
			identifier: shipmonk.deadMethod
			count: 1
			path: src/Testing/Command/DetectUnitTestsCommand.php
