parameters:
    level: 8

    paths:
        - src
        - tests

    excludePaths:
        - */Fixture/*
        - */Source/*

    type_coverage:
        return: 99
        param: 99
        property: 99
        constant: 99

    ignoreErrors:
        # unrelated
        - '#Parameter \#1 \$className of class Rector\\SwissKnife\\ValueObject\\ClassConstant constructor expects class-string, string given#'
