parameters:
    level: 8

    paths:
        - src
        - tests

    excludePaths:
        - */Fixture/*
        - */Source/*

    ignoreErrors:
        - '#Method TomasVotruba\\Lemonade\\Command\\AnalyseCommand::find(.*?) should return (.*?) but returns array<PhpParser\\(.*?)>#'
